/* CSS3 VARIABLES */
:root {
--btn-color: #ea625c;
--font-family: Roboto, sans-serif;
}

/* BASIC STYLES */

body,html {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-size: 16px;
  height: 100%
}
p,h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}
/* NAV STYLES */
nav {
  max-width: 1200px;
  margin: 0 auto;
}
.main-nav {
  display: -webkit-flex;
  display: flex;
  align-items:center;
  list-style: none;
  padding-left: 0px;
}
.main-nav li:first-child {
  margin-right: auto;
}
.main-nav li:first-child a {
    border: none!important;
}
.main-nav li:first-child a img {
  width: 40px;
}
.main-nav a {
  margin: 15px;
  padding-bottom: 10px;
  color: #999999;
  border-bottom: 2px solid transparent;
	display: block;
	text-decoration: none;
  transition: all 150ms ease;
}
.main-nav a:hover {
  color: #222;
  border-bottom: 2px solid #222;
}
.main-nav input {
  width: 170px;
  margin-left: 25px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  font-size: 16px;
   border-bottom: 1px solid #222;
}
.main-nav input:focus {
  outline: none;
}
.main-nav input::placeholder {
  font-size: 16px;
  color: #999;
}

/*HERO STYLES*/
header {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 95vh;
  background: url('../img/watches.jpg');
  background-repeat: no-repeat;
  background-size: 90vh;
  background-position: top 100px right -400px;
  border-bottom: 2px solid #e0dfdf;
}
.hero {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 200px;
}
.main-title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 55px;
}
.intro-text {
  max-width: 450px;
  color: #999;
  border-left: 2px solid #999;
  padding-left: 35px;
  margin-bottom: 45px;
}
.main-btn {
  background: var(--btn-color);
  padding: 15px 20px 15px 20px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  transition: all 300ms ease;
}

.main-btn:hover {
  cursor: pointer;
  background: #d3625c;
}

/* MAIN CONTENT */
.main-content {
  max-width: 1200px;
  margin: 0 auto;
}

#features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 45px;
}
#features .feature {
  padding-top: 50px;
}
#features .feature .feature-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 50px;
}

#features .feature .feature-text {
  font-size: 14px;
  line-height: 28px;
  padding-top: 0px;
}

.separator .separator-sq {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #cfd0d0;
}
.separator .separator-sq:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}
